* {
    font-family: Arial, Helvetica, sans-serif;
}

code, pre, pre * {
    font-family: 'Courier New', Courier, monospace;
}

code {
    background-color: #dfdfdf;
    border: 2px solid black;
    padding: 0.1em;
    border-radius: 0.1em;
}

pre {
    padding: 0.2em;
}

pre#lineNumbers {
    width: 2em;
    text-align: right;
    margin-right: 0.1em;
}

pre#sourceCode, pre.codeBlock {
    background-color: #dfdfdf;
    border: 2px solid black;
    border-radius: 0.2em;
    /* display: inline-block; */
}

pre.codeBlock {
    min-width: 50%;
    width: fit-content;
}

h1#projectName {
    margin-bottom: 0.1em;
}

a.lineNum {
    display: inline-block;
    width: 2em;
    text-align: right;
    user-select: none;
    padding-right: 0.2em;
    margin-right: 0.2em;
    background-color: #efefef;
}

div.twocolumn {
    display: flex;
    flex-direction: row;
    align-items: start;
}

div.interior {
    margin: 0.5em;
    height: calc(100% - 1em);
    overflow: scroll;
}

div.sidebar {
    position:fixed;
    height: 100vh;
    width: 20vw;
    left: 0px;
    top: 0px;
    border-right: 4px solid black;
    background-color: white;
}

div.vspacer-5 {
    display: block;
    height: 5vh;
}

div.vspacer-10 {
    display: block;
    height: 10vh;
}

div.main {
    width: 75vw;
    position: fixed;
    top: 0.0px;
    left: 20.1vw;
    width: 79.9vw;
    height: 100vh;
}

.tree {
    --spacing: 1.5rem;
    --radius: 5px;
}

ul.tree{
    margin-left  : calc(var(--radius) - var(--spacing));
    padding-left : 0;
}

ul.tree li{
    display      : block;
    position     : relative;
    padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
    border-left : 2px solid black;
}

ul.tree li:last-child{
    border-color : transparent;
}

ul.tree li::before {
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing)*-0.25);
    left         : -2px;
    width        : calc(var(--spacing));
    height       : calc(var(--spacing)*0.5 + 4px);
    border       : solid black;
    border-width : 0px 0px 2px 2px;
}

.tree li::after {
    content       : '';
    display       : block;
    position      : absolute;
    top           : calc(var(--spacing)*0.5 - var(--radius) - 1px);
    left          : calc(var(--spacing) - var(--radius) );
    width         : calc(2 * var(--radius));
    height        : calc(2 * var(--radius));
    border-radius : 50%;
    background    : black;
}

.treeContainer {
    background-color: #e5e5ef;
    border: 2px solid black;
    padding: 0.1em;
    border-radius: 0.1em;
}

.treeContainer h3 {
    padding: 0.0px;
    margin: 0.2em;
    border-bottom: 1px solid black;
    width: calc(100% - 0.4em);
}

.treeContainer.source {
    background-color: #e5e5ef;
}

.treeContainer.modules {
    background-color: #efe5e5;
}